/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*******************************
 
 * custom css
 
 *******************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 13px;
}

a {
  color: #f78e21;
  text-decoration: none;
}

h1 {
  font-size: 54px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

header {
  background-color: #333333;
}
header .header-container {
  margin: 0 auto;
  width: 970px;
}
header .header-container .header-button {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 0;
}
header .header-container .header-button-right {
  float: right;
  position: absolute;
  top: 0;
  right: 85px;
  color: #fff;
}

nav {
  clear: both;
}
nav .nav-container {
  margin: 0 auto;
  width: 970px;
}
nav .nav-container .site-logo {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
}
nav .nav-container .main-menu {
  display: inline-block;
  width: 50%;
}
nav .nav-container .main-menu ul li {
  display: inline-block;
  margin-right: 35px;
  padding: 40px 0;
  text-transform: uppercase;
  font-weight: 700;
}
nav .nav-container .main-menu ul li a {
  color: #444;
}
nav .nav-container .search-block {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 110px;
  margin-top: 30px;
}
nav .nav-container .search-block .search-form input[type="text"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #e2e2e2;
  outline: none;
  color: #aaa;
}
nav .nav-container .search-block .search-form input[type="submit"] {
  background-color: transparent;
  position: relative;
  width: 34px;
  height: 34px;
  left: 160px;
  top: -35px;
  border: 0;
  content: '';
  color: transparent;
  background: url(../images/search-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-appearance: button;
  cursor: pointer;
}

.fs-container .flexslider .slides li div {
  display: block;
  position: absolute;
  margin: 150px 250px;
  width: 700px;
  text-align: center;
}
.fs-container .flexslider .slides li img {
  width: 100%;
  height: auto;
}
.fs-container .flexslider .flex-control-nav {
  display: none;
}
.fs-container .custom-navigation .flex-prev, .fs-container .custom-navigation .flex-next {
  display: inline-block;
  position: absolute;
  top: 300px;
  left: 40px;
  padding: 10px;
  border: 1px solid #fff;
  font-size: 25px;
  color: #fff;
}
.fs-container .custom-navigation .flex-next {
  left: auto;
  right: 40px;
}

.service-container {
  width: 100%;
  height: 500px;
}
.service-container .service-top-block {
  width: 375px;
  margin: 80px auto 60px auto;
}
.service-container .service-top-block h2 {
  text-align: center;
}
.service-container .service-bottom-block {
  padding: 40px;
}
.service-container .service-bottom-block section {
  float: left;
  width: 25%;
  min-width: 200px;
  padding: 15px;
  text-align: center;
}
.service-container .service-bottom-block section div {
  margin-bottom: 50px;
}
.service-container .service-bottom-block section div i {
  padding: 25px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 20px solid #f78e21;
  color: #f78e21;
  font-size: 28px;
  line-height: 80px;
}
.service-container .service-bottom-block section p {
  font-size: 13px;
  color: #666;
  line-height: 1.4;
}

.last-blog-container .blogs-top-block {
  margin: 80px auto 60px auto;
  width: 375px;
}
.last-blog-container .blogs-top-block h2 {
  text-align: center;
}
.last-blog-container .img-box-container {
  margin: 0 auto;
  width: 1080px;
}
.last-blog-container .img-box-container .img-box {
  display: inline-block;
  position: relative;
  /*float: left;*/
  margin: 30px;
  width: 295px;
  height: 200px;
  background-color: #dfdfdf;
  background-image: url("http://ppt.cc/0hhP");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
.last-blog-container .img-box-container .img-box:hover .img-box-text {
  -webkit-transform: translateY(-55%);
}
.last-blog-container .img-box-container .img-box .img-box-text {
  position: absolute;
  top: 55%;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: transform .4s ease;
  -moz-transition: transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
}
.last-blog-container .img-box-container .img-box .img-box-text h4 {
  color: #fff;
  text-transform: uppercase;
}
.last-blog-container .img-box-container .img-box .img-box-text .orange-text {
  color: #f78e21;
}
.last-blog-container .img-box-container .img-box .img-box-text p {
  padding-top: 10px;
  line-height: 1.4;
  color: #fff;
}

.last-content-comtainer .lastcontent-top-block {
  margin: 80px auto 60px auto;
  width: 375px;
}
.last-content-comtainer .lastcontent-top-block h2 {
  text-align: center;
}

footer {
  background-color: #f3f3f3;
  border-top: 4px solid #f78e21;
  margin-top: 120px;
}
footer .footer-container {
  width: 100%;
}
footer .footer-container .footer-top-container {
  margin: 0 auto;
  width: 1080px;
}
footer .footer-container .footer-top-container .footer-top-form {
  display: inline-block;
  margin-top: 40px;
  width: 75%;
  float: left;
}
footer .footer-container .footer-top-container .footer-top-form span {
  display: inline-block;
  margin-right: 28px;
  font-size: 22px;
  font-weight: bold;
}
footer .footer-container .footer-top-container .footer-top-form form {
  display: inline-block;
}
footer .footer-container .footer-top-container .footer-top-form form input#subscribe {
  margin-top: 0px;
  padding: 4px 10px 4px 10px;
  width: 280px;
  height: 34px;
  max-width: 280px;
  line-height: 34px;
  outline: 0;
  border-color: 1px solid #f3f3f3;
}
footer .footer-container .footer-top-container .footer-top-form form input[type="submit"] {
  margin-top: 0;
  position: relative;
  right: 40;
  top: 0;
  width: 34px;
  height: 34px;
  border: 0;
  background: url("../images/subscribe-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  background-color: transparent;
  content: '';
}
footer .footer-container .footer-top-container .footer-top-follow {
  display: inline-block;
  margin-top: 40px;
  width: 25%;
  float: left;
}
footer .footer-container .footer-top-container .footer-top-follow span {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
}
footer .footer-container .footer-middle-container {
  margin: 0 auto;
  width: 1080px;
  clear: both;
}
footer .footer-container .footer-middle-container .footer-middle-box {
  display: inline-block;
  padding: 0 25px;
  width: 25%;
}
footer .footer-container .footer-middle-container .footer-middle-box-3 .recent-post-text img {
  display: inline-block;
}
footer .footer-container .footer-middle-container .footer-middle-box-3 .recent-post-text .recent-post-innertext {
  display: inline-block;
}
footer .footer-container .footer-middle-container .footer-middle-box-3 .recent-post-text .recent-post-innertext h5 {
  width: 120px;
  vertical-align: top;
}
