header {
	background-color: #333333;
	.header-container {
		margin: 0 auto;
		width: 970px;
		.header-button {
		display: inline-block;
		margin-right: 15px;
		padding: 10px 0;
		}
		.header-button-right {
			float: right;
			position: absolute;
			top: 0;
			right: 85px;
			color: #fff;
			.aaa {
				// color: #fff;
			}
		}
	}
}

nav {
	clear: both;
	.nav-container {
		margin: 0 auto;
		width: 970px;
		.site-logo {
			display: inline-block;
			vertical-align: middle;
			width: 25%;
		}
		.main-menu {
			display: inline-block;
			width: 50%;
			ul li {
				display: inline-block;
				margin-right: 35px;
				padding: 40px 0;
				text-transform: uppercase;
				font-weight: 700;
				a {
					color: #444;
				}
				
			}
		}
		.search-block {
			display: inline-block;
			position: absolute;
			top: 30px;
			right: 110px;
			margin-top: 30px;
			.search-form {
				input[type="text"] {
					padding: 10px;
					width: 100%;
					border: 1px solid #e2e2e2;
					outline: none;
					color: #aaa;
				}
				input[type="submit"] {
					background-color: transparent;
					position: relative;
					width: 34px;
					height: 34px;
					left: 160px;
					top: -35px;
					border: 0;
					content: '';
					color: transparent;
					background: url(../images/search-icon.png);
					background-position: center;
					background-repeat: no-repeat;
					-webkit-appearance: button;
					cursor: pointer;
				}
			}
		}
	}
}

.fs-container {
	.flexslider {
		.slides {
			li div {
				display: block;
				position: absolute;
				margin: 150px 250px;
				width: 700px;
				text-align: center;
			}
			li img {
				width: 100%;
				height: auto;
			}
		}
		.flex-control-nav {
			display: none;
		}
	}
	.custom-navigation {
		.flex-prev {
			display: inline-block;
			position: absolute;
			top: 300px;
			left: 40px;
			padding: 10px;
			border: 1px solid #fff;
			font-size: 25px;
			color: #fff;
		}
		.flex-next  {
			@extend .flex-prev;
			left: auto;
			right: 40px;
		}
	}
}

.service-container {
	width: 100%;
	height: 500px;
	.service-top-block {
		width: 375px;
		margin: 80px auto 60px auto;
		h2 {
			text-align: center;
		}
	}
	.service-bottom-block {
		padding: 40px;
		section {
			float: left;
			width: 25%;
			min-width: 200px;
			padding: 15px;
			text-align: center;
			div {
				margin-bottom: 50px;
				i {
					padding: 25px;
					width: 120px;
					height: 120px;
					border-radius: 50%;
					border: 20px solid #f78e21;
					color: #f78e21;
					font-size: 28px;
					line-height: 80px;
				}
			}
			p {
				font-size: $base-font-size;
				color: #666;
				line-height: 1.4;
			}
		}
	}
}

.last-blog-container {
	.blogs-top-block {
		margin: 80px auto 60px auto;
		width: 375px;
		h2 {
			text-align: center;
		}
	}
	.img-box-container {
		margin: 0 auto;
		width: 1080px;
		.img-box {
			display: inline-block;
			position: relative;
			/*float: left;*/
			margin: 30px;
			width: 295px;
			height: 200px;
			background-color: #dfdfdf;
			background-image: url('http://ppt.cc/0hhP');
			background-size: contain;
			background-repeat: no-repeat;
			overflow: hidden;
			&:hover .img-box-text{
				-webkit-transform: translateY(-55%);
			}
			.img-box-text {
				position: absolute;
				top: 55%;
				height: 100%;
				width: 100%;
				padding: 0 20px;
				background: rgba(0, 0, 0, .7);
				-webkit-transition: transform .4s ease;
				-moz-transition: transform .4s ease;
				-o-transition: transform .4s ease;
				transition: transform .4s ease;
				h4 {
					color: #fff;
					text-transform: uppercase;
				}
				.orange-text {
					color: #f78e21;
				}
				p {
					padding-top: 10px;
					line-height: 1.4;
					color: #fff;
				}
			}
		}
	}
}

.last-content-comtainer {
	.lastcontent-top-block {
		margin: 80px auto 60px auto;
		width: 375px;
		h2 {
			text-align: center;
		}
	}
}

footer {
	background-color: #f3f3f3;
	border-top: 4px solid #f78e21;
	margin-top: 120px;
	.footer-container {
		width: 100%;
		.footer-top-container {
			margin: 0 auto;
			width: 1080px;
			.footer-top-form {
				display: inline-block;
				margin-top: 40px;
				width: 75%;
				float: left;
				span {
					display: inline-block;
					margin-right: 28px;
					font-size: 22px;
					font-weight: bold;
				}
				form {
					display: inline-block;
					input#subscribe {
						margin-top: 0px;
						padding: 4px 10px 4px 10px;
						width: 280px;
						height: 34px;
						max-width: 280px;
						line-height: 34px;
						outline: 0;
						border-color: 1px solid #f3f3f3;
					}
					input[type="submit"] {
						margin-top: 0;
						position: relative;
						right: 40;
						top: 0;
						width: 34px;
						height: 34px;
						border: 0;
						background: url('../images/subscribe-icon.png');
						background-repeat: no-repeat;
						background-position: center;
						color: transparent;
						background-color: transparent;
						content: '';
					}
				}
			}
			.footer-top-follow {
				display: inline-block;
				margin-top: 40px;
				width: 25%;
				float: left;
				span {
					display: inline-block;
					font-size: 22px;
					font-weight: bold;
				}
			}
		}
		.footer-middle-container {
			margin: 0 auto;
			width: 1080px;
			clear: both;
			.footer-middle-box {
				display: inline-block;
				padding: 0 25px;
				width: 25%;
			}
			.footer-middle-box-3 {
				.recent-post-text {
					img {
						display: inline-block;
					}
					.recent-post-innertext {
						display: inline-block;
						h5 {
							width: 120px;
							vertical-align: top;
						}
					}
				}
			}
		}
	}
}

